version: '3'
 
services:
  db:
    image: mysql:5.7
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql.mysql_root_password }}"
      MYSQL_DATABASE: "{{ mysql.mysql_database }}"
      MYSQL_USER: "{{ mysql.mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql.mysql_user_password }}"
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: pma
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - "8080:80"
volumes:
  dbdata: